<!DOCTYPE html>
<html dir="rtl" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="wpOceans" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="assets/images/favicon.png"
    />
    <title>ملت وب - Suqat- Real Estate Single Property Template</title>
    <link href="assets/css/themify-icons.css" rel="stylesheet" />
    <link href="assets/css/flaticon.css" rel="stylesheet" />
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/animate.css" rel="stylesheet" />
    <link href="assets/css/owl.carousel.css" rel="stylesheet" />
    <link href="assets/css/owl.theme.css" rel="stylesheet" />
    <link href="assets/css/slick.css" rel="stylesheet" />
    <link href="assets/css/slick-theme.css" rel="stylesheet" />
    <link href="assets/css/swiper.min.css" rel="stylesheet" />
    <link href="assets/css/owl.transitions.css" rel="stylesheet" />
    <link href="assets/css/jquery.fancybox.css" rel="stylesheet" />
    <link href="assets/css/odometer-theme-default.css" rel="stylesheet" />
    <link href="assets/sass/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="page-wrapper">
      <div class="preloader">
        <div class="vertical-centered-box">
          <div class="content">
            <div class="loader-circle"></div>
            <div class="loader-line-mask"><div class="loader-line"></div></div>
            <img src="assets/images/preloader.png" alt="" />
          </div>
        </div>
      </div>
      <%- include('partials/header') %>

      <section class="wpo-blog-pg-section section-padding">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 offset-lg-1">
              <div class="wpo-blog-content">
                <% blogs.forEach(function(blog) { %>
                <div class="post format-standard-image">
                  <div class="entry-media">
                    <img src="<%= blog.thumbnail %>" alt />
                  </div>
                  <div class="entry-meta">
                    <ul>
                      <li>
                        <i class="fi flaticon-user"> </i>توسط
                        <a href="#"><%= blog.writer.fullname %></a>
                      </li>
                      <li>
                        <i class="fi flaticon-comment-white-oval-bubble"></i
                        >نظرات 35
                      </li>
                      <li>
                        <i class="fi flaticon-calendar-1"></i>24 ژوئن 2023
                      </li>
                    </ul>
                  </div>
                  <div class="entry-details">
                    <h3>
                      <a href="view-blog"><%= blog.title %></a>
                    </h3>
                    <p><%= blog.body %></p>
                    <a href="view-blog?id=<%= blog._id %>" class="read-more"
                      >بیشتر بخوانید...</a
                    >
                  </div>
                </div>
                <% }); %>

                <div class="pagination-wrapper pagination-wrapper-left">
                  <ul class="pg-pagination">
                    <li>
                      <a href="#" aria-label="Previous"
                        ><i class="fi ti-angle-left"></i
                      ></a>
                    </li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li>
                      <a href="#" aria-label="Next"
                        ><i class="fi ti-angle-right"></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <%- include('partials/footer') %>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/modernizr.custom.js"></script>
    <script src="assets/js/jquery-plugin-collection.js"></script>
    <script src="assets/js/script.js"></script>
  </body>
</html>
