<!DOCTYPE html>
<html dir="rtl" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="wpOceans" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="assets/images/favicon.png"
    />
    <title>ملت وب - Suqat- Real Estate Single Property Template</title>
    <link href="assets/css/themify-icons.css" rel="stylesheet" />
    <link href="assets/css/flaticon.css" rel="stylesheet" />
    <link href="assets/css/bootstrap.min.rtl.css" rel="stylesheet" />
    <link href="assets/css/animate.css" rel="stylesheet" />
    <link href="assets/css/owl.carousel.css" rel="stylesheet" />
    <link href="assets/css/owl.theme.css" rel="stylesheet" />
    <link href="assets/css/slick.css" rel="stylesheet" />
    <link href="assets/css/slick-theme.css" rel="stylesheet" />
    <link href="assets/css/swiper.min.css" rel="stylesheet" />
    <link href="assets/css/owl.transitions.css" rel="stylesheet" />
    <link href="assets/css/jquery.fancybox.css" rel="stylesheet" />
    <link href="assets/css/odometer-theme-default.css" rel="stylesheet" />
    <link href="assets/sass/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="page-wrapper">
      <div class="preloader">
        <div class="vertical-centered-box">
          <div class="content">
            <div class="loader-circle"></div>
            <div class="loader-line-mask"><div class="loader-line"></div></div>
            <img src="assets/images/preloader.png" alt="" />
          </div>
        </div>
      </div>
      <%- include('partials/header') %>
      <section class="wpo-hero-slider-1">
        <div
          class="noise"
          style="background-image: url(assets/images/slider/noise.png)"
        ></div>
        <div class="hero-slider">
          <div class="slide">
            <div class="container-fluid">
              <div class="row">
                <div class="col col-lg-6 col-md-5 col-sm-12 slide-left">
                  <div class="slide-caption">
                    <div class="slide-item">
                      <div class="slide-text">
                        <div class="slide-title-sub">
                          <span
                            ><i class="fi flaticon-placeholder"></i>توسان،
                            آریزونا (AZ)، 85719</span
                          >
                        </div>
                        <div class="slide-title">
                          <h2>
                            <small>کجا</small><span>طبیعت</span>با پالایش ملاقات
                            می کند.
                          </h2>
                        </div>
                        <div class="btns">
                          <a href="about.html" class="hero-btn"
                            ><span>قیمت اولیه:</span>
                            <p>$668,237</p>
                            <i class="ti-arrow-top-right"></i
                          ></a>
                        </div>
                        <div class="hero-left-img">
                          <img
                            src="assets/images/slider/shape-img.jpg"
                            alt=""
                          />
                        </div>
                      </div>
                    </div>
                    <div class="slide-item">
                      <div class="slide-text">
                        <div class="slide-title-sub">
                          <span
                            ><i class="fi flaticon-placeholder"></i>توسان،
                            آریزونا (AZ)، 85719</span
                          >
                        </div>
                        <div class="slide-title">
                          <h2>
                            <small>کجا</small><span>طبیعت</span>با پالایش ملاقات
                            می کند.
                          </h2>
                        </div>
                        <div class="btns">
                          <a href="about.html" class="hero-btn"
                            ><span>قیمت اولیه:</span>
                            <p>$668,237</p>
                            <i class="ti-arrow-top-right"></i
                          ></a>
                        </div>
                        <div class="hero-left-img">
                          <img
                            src="assets/images/slider/shape-img2.jpg"
                            alt=""
                          />
                        </div>
                      </div>
                    </div>
                    <div class="slide-item">
                      <div class="slide-text">
                        <div class="slide-title-sub">
                          <span
                            ><i class="fi flaticon-placeholder"></i>توسان،
                            آریزونا (AZ)، 85719</span
                          >
                        </div>
                        <div class="slide-title">
                          <h2>
                            <small>کجا</small><span>طبیعت</span>با پالایش ملاقات
                            می کند.
                          </h2>
                        </div>
                        <div class="btns">
                          <a href="about.html" class="hero-btn"
                            ><span>قیمت اولیه:</span>
                            <p>$668,237</p>
                            <i class="ti-arrow-top-right"></i
                          ></a>
                        </div>
                        <div class="hero-left-img">
                          <img
                            src="assets/images/slider/shape-img3.jpg"
                            alt=""
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="slider-pic">
                  <div class="slider-item">
                    <img src="assets/images/slider/slide-1.jpg" alt />
                  </div>
                  <div class="slider-item">
                    <img src="assets/images/slider/slide-2.jpg" alt />
                  </div>
                  <div class="slider-item">
                    <img src="assets/images/slider/slide-3.jpg" alt />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="shape">
          <img src="assets/images/slider/shape.png" alt="" />
        </div>
      </section>
      <div class="hero-left-content">
        <div class="hero-left-content-inner">
          <div class="hero-left-content-item">
            <h2>5</h2>
            <span>اتاق خواب</span>
          </div>
          <div class="hero-left-content-item">
            <h2>2</h2>
            <span>حمام های کامل</span>
          </div>
          <div class="hero-left-content-item">
            <h2>4</h2>
            <span>نیم حمام</span>
          </div>
          <div class="hero-left-content-item">
            <h2>2</h2>
            <span>پارکینگ ماشین</span>
          </div>
          <div class="hero-left-content-item">
            <h2>6,382</h2>
            <span>فوت مربع</span>
          </div>
        </div>
        <div class="hero-left-video">
          <div class="hero-left-video-wrap">
            <div class="circular-text text-roted">
              <p class="text">Watch the introduction video</p>
              <a
                href="https://www.youtube.com/embed/NjIkTXmPycY"
                class="video-btn"
                data-type="iframe"
              ></a>
            </div>
          </div>
        </div>
      </div>
      <section class="wpo-about-section section-padding">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="wpo-section-title">
                <small>درباره ما</small>
                <h2>
                  داستان خود را در یک مکان ایجاد کنید<span>جایی که رویاها</span
                  >و ادغام واقعیت.
                </h2>
                <a href="contact.html" class="theme-btn"
                  >با نماینده ما تماس بگیرید</a
                >
              </div>
            </div>
          </div>
          <div class="wpo-about-wrap">
            <div class="row">
              <div class="col col-lg-4 col-12">
                <div class="about-content">
                  <div class="info">
                    <h3>ماموریت ما:</h3>
                    <p>
                      <span
                        >لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                        چاپ و</span
                      >اما در چنین زمانی آنها مانند زایمان و درد شدید اتفاق
                      افتادند. قبل از آن در nibh mauris دوره املاک molestie
                      aculis است.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col col-lg-4">
                <div class="about-img">
                  <img src="assets/images/about/img-1.jpg" alt="" />
                </div>
              </div>
              <div class="col col-lg-4 col-12">
                <div class="about-content">
                  <div class="info">
                    <h3>چشم انداز ما:</h3>
                    <p>
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                      و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه
                      روزنامه و<span
                        >قبل از آن در nibh mauris سیر خاصیت molestie aculis
                        است.</span
                      >
                    </p>
                  </div>
                </div>
                <div class="ab-right">
                  <img src="assets/images/about/img-2.jpg" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="wpo-payment-section section-padding">
        <div class="container">
          <div class="wpo-payment-wrap">
            <div class="row">
              <div class="col col-lg-3 col-12">
                <div class="wpo-section-title">
                  <small>برآورد</small>
                  <h2>شما<span>پرداخت</span>تخمین بزنید</h2>
                </div>
              </div>
              <div class="col col-lg-6">
                <div class="payment-form-area">
                  <div class="form-group">
                    <label>قیمت خرید:</label
                    ><input type="number" value="6382" id="purchase_price" />
                  </div>
                  <div class="form-group">
                    <label>درصد پیش پرداخت:</label
                    ><input type="number" value="20" id="down_payment" />
                  </div>
                  <div class="form-group">
                    <label>مدت وام سال:</label
                    ><input type="number" value="35" id="loan_term" />
                  </div>
                  <div class="form-group">
                    <label>نرخ بهره %:</label
                    ><input type="number" value="5.5" id="interest_rate" />
                  </div>
                  <div class="form-group">
                    <button class="theme-btn" onclick="estimatePayment()">
                      برآورد پرداخت
                    </button>
                  </div>
                </div>
              </div>
              <div class="col col-lg-3 col-12">
                <div class="payment-result">
                  <div class="result-item">
                    <span>پیش پرداخت:</span>
                    <h3 id="down_payment_value">$1276.40</h3>
                  </div>
                  <div class="result-item">
                    <span>پرداخت ماهانه:</span>
                    <h3 id="monthly_payment_value">$12.82</h3>
                  </div>
                  <div class="result-item">
                    <span>کل مبلغ وام:</span>
                    <h3 id="load_amount_value">$5386.41</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="wpo-service-section section-padding">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <div class="wpo-section-title-s2">
                <h2>مدرن<span>امکانات</span>از ملک.</h2>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="wpo-section-title-img">
                <img src="assets/images/service/title.jpg" alt="" />
              </div>
            </div>
          </div>
          <div class="wpo-service-wrap">
            <div class="row">
              <div class="col-lg-4 col-md-6 col-12">
                <div class="wpo-service-item">
                  <div class="wpo-service-icon">
                    <span
                      ><img src="assets/images/service/1.svg" alt=""
                    /></span>
                  </div>
                  <div class="wpo-service-text">
                    <h3><a href="service-single.html">کاشی بتنی</a></h3>
                    <p>
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                      و با استفاده از طراحا
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-12">
                <div class="wpo-service-item">
                  <div class="wpo-service-icon">
                    <span
                      ><img src="assets/images/service/2.svg" alt=""
                    /></span>
                  </div>
                  <div class="wpo-service-text">
                    <h3><a href="service-single.html">اتاق خانواده</a></h3>
                    <p>
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                      و با استفاده از طراحا
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-12">
                <div class="wpo-service-item">
                  <div class="wpo-service-icon">
                    <span
                      ><img src="assets/images/service/3.svg" alt=""
                    /></span>
                  </div>
                  <div class="wpo-service-text">
                    <h3><a href="service-single.html">quaters مهمان</a></h3>
                    <p>
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                      و با استفاده از طراحا
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-12">
                <div class="wpo-service-item">
                  <div class="wpo-service-icon">
                    <span
                      ><img src="assets/images/service/4.svg" alt=""
                    /></span>
                  </div>
                  <div class="wpo-service-text">
                    <h3><a href="service-single.html">کف گرم</a></h3>
                    <p>
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                      و با استفاده از طراحا
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-12">
                <div class="wpo-service-item">
                  <div class="wpo-service-icon">
                    <span
                      ><img src="assets/images/service/5.svg" alt=""
                    /></span>
                  </div>
                  <div class="wpo-service-text">
                    <h3><a href="service-single.html">استخر شنا</a></h3>
                    <p>
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                      و با استفاده از طراحا
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-12">
                <div class="wpo-service-item">
                  <div class="wpo-service-icon">
                    <span
                      ><img src="assets/images/service/6.svg" alt=""
                    /></span>
                  </div>
                  <div class="wpo-service-text">
                    <h3><a href="service-single.html">نمای اقیانوس</a></h3>
                    <p>
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                      و با استفاده از طراحا
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="wpo-plan-section section-padding">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="wpo-section-title">
                <small>پلان های طبقه</small>
                <h2>اسکات اسپیلون<span>دارایی</span>پلان های طبقه</h2>
              </div>
            </div>
          </div>
          <div class="wpo-plan-wrap">
            <div class="wpo-plan-tab-menu">
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <a
                    class="nav-link"
                    id="basement-tab"
                    data-bs-toggle="tab"
                    href="#basement"
                    role="tab"
                    aria-controls="basement"
                    aria-selected="true"
                    >زیرزمین</a
                  >
                </li>
                <li class="nav-item" role="presentation">
                  <a
                    class="nav-link active"
                    id="ground-floor-tab"
                    data-bs-toggle="tab"
                    href="#ground-floor"
                    role="tab"
                    aria-controls="ground-floor"
                    aria-selected="false"
                    >طبقه همکف</a
                  >
                </li>
                <li class="nav-item" role="presentation">
                  <a
                    class="nav-link"
                    id="first-floor-tab"
                    data-bs-toggle="tab"
                    href="#first-floor"
                    role="tab"
                    aria-controls="first-floor"
                    aria-selected="false"
                    >طبقه 1</a
                  >
                </li>
                <li class="nav-item" role="presentation">
                  <a
                    class="nav-link"
                    id="second-floor-tab"
                    data-bs-toggle="tab"
                    href="#second-floor"
                    role="tab"
                    aria-controls="second-floor"
                    aria-selected="false"
                    >طبقه 2</a
                  >
                </li>
                <li class="nav-item" role="presentation">
                  <a
                    class="nav-link"
                    id="rooftop-tab"
                    data-bs-toggle="tab"
                    href="#rooftop"
                    role="tab"
                    aria-controls="rooftop"
                    aria-selected="false"
                    >پشت بام</a
                  >
                </li>
              </ul>
            </div>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade in" id="basement">
                <div class="wpo-plan-item">
                  <div class="row align-items-center">
                    <div class="col-lg-8 col-md-12">
                      <div class="wpo-plan-img">
                        <img src="assets/images/plan/plan.png" alt="" />
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                      <div class="wpo-plan-content-box">
                        <div class="wpo-plan-content">
                          <img src="assets/images/plan/img-2.jpg" alt="" />
                          <ul>
                            <li>فوت مربع<span>2,537</span></li>
                            <li>پارکینگ ماشین<span>2</span></li>
                            <li>نیم حمام<span>4</span></li>
                            <li>حمام های کامل<span>2</span></li>
                            <li>اتاق خواب<span>5</span></li>
                          </ul>
                          <a href="#">الان شروع شد</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                role="tabpanel"
                class="tab-pane fade in show active"
                id="ground-floor"
              >
                <div class="wpo-plan-item">
                  <div class="row align-items-center">
                    <div class="col-lg-8 col-md-12">
                      <div class="wpo-plan-img">
                        <img src="assets/images/plan/plan.png" alt="" />
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                      <div class="wpo-plan-content-box">
                        <div class="wpo-plan-content">
                          <img src="assets/images/plan/img-1.jpg" alt="" />
                          <ul>
                            <li>فوت مربع<span>2,537</span></li>
                            <li>پارکینگ ماشین<span>2</span></li>
                            <li>نیم حمام<span>4</span></li>
                            <li>حمام های کامل<span>2</span></li>
                            <li>اتاق خواب<span>5</span></li>
                          </ul>
                          <a href="#">الان شروع شد</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade in" id="first-floor">
                <div class="wpo-plan-item">
                  <div class="row align-items-center">
                    <div class="col-lg-8 col-md-12">
                      <div class="wpo-plan-img">
                        <img src="assets/images/plan/plan.png" alt="" />
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                      <div class="wpo-plan-content-box">
                        <div class="wpo-plan-content">
                          <img src="assets/images/plan/img-3.jpg" alt="" />
                          <ul>
                            <li>فوت مربع<span>2,537</span></li>
                            <li>پارکینگ ماشین<span>2</span></li>
                            <li>نیم حمام<span>4</span></li>
                            <li>حمام های کامل<span>2</span></li>
                            <li>اتاق خواب<span>5</span></li>
                          </ul>
                          <a href="#">الان شروع شد</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade in" id="second-floor">
                <div class="wpo-plan-item">
                  <div class="row align-items-center">
                    <div class="col-lg-8 col-md-12">
                      <div class="wpo-plan-img">
                        <img src="assets/images/plan/plan.png" alt="" />
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                      <div class="wpo-plan-content-box">
                        <div class="wpo-plan-content">
                          <img src="assets/images/plan/img-4.jpg" alt="" />
                          <ul>
                            <li>فوت مربع<span>2,537</span></li>
                            <li>پارکینگ ماشین<span>2</span></li>
                            <li>نیم حمام<span>4</span></li>
                            <li>حمام های کامل<span>2</span></li>
                            <li>اتاق خواب<span>5</span></li>
                          </ul>
                          <a href="#">الان شروع شد</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade in" id="rooftop">
                <div class="wpo-plan-item">
                  <div class="row align-items-center">
                    <div class="col-lg-8 col-md-12">
                      <div class="wpo-plan-img">
                        <img src="assets/images/plan/plan.png" alt="" />
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                      <div class="wpo-plan-content-box">
                        <div class="wpo-plan-content">
                          <img src="assets/images/plan/img-5.jpg" alt="" />
                          <ul>
                            <li>فوت مربع<span>2,537</span></li>
                            <li>پارکینگ ماشین<span>2</span></li>
                            <li>نیم حمام<span>4</span></li>
                            <li>حمام های کامل<span>2</span></li>
                            <li>اتاق خواب<span>5</span></li>
                          </ul>
                          <a href="#">الان شروع شد</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="wpo-property-section section-padding">
        <div class="container">
          <div class="row">
            <div class="col-lg-7 col-12">
              <div class="wpo-section-title">
                <h2>ما را کشف کنید<span>برجسته</span>دارایی</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="property-slider property-active owl-carousel">
            <div class="card-single">
              <div class="image">
                <img src="assets/images/property/1.jpg" alt="" />
                <ul>
                  <li>
                    <div class="icon">
                      <img src="assets/images/property/1.svg" alt="" />
                    </div>
                    <div class="text-dos">03 تخت</div>
                  </li>
                  <li>
                    <div class="icon">
                      <img src="assets/images/property/2.svg" alt="" />
                    </div>
                    <div class="text-dos">04 حمام</div>
                  </li>
                  <li>
                    <div class="icon">
                      <img src="assets/images/property/3.svg" alt="" />
                    </div>
                    <div class="text-dos">02 گاراژ</div>
                  </li>
                  <li>
                    <div class="icon">
                      <img src="assets/images/property/4.svg" alt="" />
                    </div>
                    <div class="text-dos">800 فوت مربع</div>
                  </li>
                </ul>
              </div>
              <div class="text">
                <h2><a href="property-single.html">ویلای مدرن زیبا</a></h2>
                <span>خیابان 12، نیویورک</span>
              </div>
            </div>
            <div class="card-single">
              <div class="image">
                <img src="assets/images/property/2.jpg" alt="" />
                <ul>
                  <li>
                    <div class="icon">
                      <img src="assets/images/property/1.svg" alt="" />
                    </div>
                    <div class="text-dos">03 تخت</div>
                  </li>
                  <li>
                    <div class="icon">
                      <img src="assets/images/property/2.svg" alt="" />
                    </div>
                    <div class="text-dos">04 حمام</div>
                  </li>
                  <li>
                    <div class="icon">
                      <img src="assets/images/property/3.svg" alt="" />
                    </div>
                    <div class="text-dos">02 گاراژ</div>
                  </li>
                  <li>
                    <div class="icon">
                      <img src="assets/images/property/4.svg" alt="" />
                    </div>
                    <div class="text-dos">800 فوت مربع</div>
                  </li>
                </ul>
              </div>
              <div class="text">
                <h2><a href="property-single.html">خانه مدرن هیل</a></h2>
                <span>خیابان 120، ویلوویل</span>
              </div>
            </div>
            <div class="card-single">
              <div class="image">
                <img src="assets/images/property/3.jpg" alt="" />
                <ul>
                  <li>
                    <div class="icon">
                      <img src="assets/images/property/1.svg" alt="" />
                    </div>
                    <div class="text-dos">03 تخت</div>
                  </li>
                  <li>
                    <div class="icon">
                      <img src="assets/images/property/2.svg" alt="" />
                    </div>
                    <div class="text-dos">04 حمام</div>
                  </li>
                  <li>
                    <div class="icon">
                      <img src="assets/images/property/3.svg" alt="" />
                    </div>
                    <div class="text-dos">02 گاراژ</div>
                  </li>
                  <li>
                    <div class="icon">
                      <img src="assets/images/property/4.svg" alt="" />
                    </div>
                    <div class="text-dos">800 فوت مربع</div>
                  </li>
                </ul>
              </div>
              <div class="text">
                <h2>
                  <a href="property-single.html">خانه مدرن با نمای دریاچه</a>
                </h2>
                <span>خیابان 121، ایالات متحده آمریکا</span>
              </div>
            </div>
            <div class="card-single">
              <div class="image">
                <img src="assets/images/property/4.jpg" alt="" />
                <ul>
                  <li>
                    <div class="icon">
                      <img src="assets/images/property/1.svg" alt="" />
                    </div>
                    <div class="text-dos">03 تخت</div>
                  </li>
                  <li>
                    <div class="icon">
                      <img src="assets/images/property/2.svg" alt="" />
                    </div>
                    <div class="text-dos">04 حمام</div>
                  </li>
                  <li>
                    <div class="icon">
                      <img src="assets/images/property/3.svg" alt="" />
                    </div>
                    <div class="text-dos">02 گاراژ</div>
                  </li>
                  <li>
                    <div class="icon">
                      <img src="assets/images/property/4.svg" alt="" />
                    </div>
                    <div class="text-dos">800 فوت مربع</div>
                  </li>
                </ul>
              </div>
              <div class="text">
                <h2><a href="property-single.html">املاک میپل وود</a></h2>
                <span>خیابان اوک 123، ویلوویل</span>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="wpo-fun-fact-section section-padding">
        <div class="container">
          <div class="row">
            <div class="col col-xs-12">
              <div class="wpo-fun-fact-grids clearfix">
                <div class="grid">
                  <div class="info">
                    <h3><span class="odometer" data-count="215">00</span>+</h3>
                    <p>مشتریان فعلی</p>
                  </div>
                </div>
                <div class="grid">
                  <div class="info">
                    <h3><span class="odometer" data-count="50">00</span>+</h3>
                    <p>برنده جوایز</p>
                  </div>
                </div>
                <div class="grid">
                  <div class="info">
                    <h3><span class="odometer" data-count="15">00</span>+</h3>
                    <p>سالها تجربه</p>
                  </div>
                </div>
                <div class="grid">
                  <div class="info">
                    <h3><span class="odometer" data-count="150">00</span>+</h3>
                    <p>اموال</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="wpo-place-section section-padding">
        <div class="container-fluid">
          <div class="place-wrap">
            <div class="row align-items-center">
              <div class="col-xl-5 col-md-5">
                <div class="wpo-section-title-s2">
                  <small>مکان های نزدیک</small>
                  <h2>در نزدیکی<span>مکان های از</span>ملک</h2>
                  <ul class="tabs">
                    <li>
                      <button id="Location1" class="tab">
                        مدرسه<span>- 1.8 Km</span>
                      </button>
                    </li>
                    <li>
                      <button id="Location2" class="tab">
                        رستوران<span>- 1.6 Km</span>
                      </button>
                    </li>
                    <li>
                      <button id="Location3" class="tab">
                        مسجد<span>- 2.0 Km</span>
                      </button>
                    </li>
                    <li>
                      <button id="Location4" class="tab">
                        پارک<span>- 0.96 Km</span>
                      </button>
                    </li>
                    <li>
                      <button id="Location5" class="tab">
                        بیمارستان<span>- 1.6 Km</span>
                      </button>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-xl-7 col-md-7">
                <div class="place-right-wrap clearfix">
                  <img src="assets/images/nearby/place.jpg" alt="" />
                  <div id="location-wrap">
                    <div id="location1" class="location s1">
                      <div class="pin">
                        <img src="assets/images/nearby/1.svg" alt="" /><span
                          >مدرسه کورپوس کریستی</span
                        >
                      </div>
                    </div>
                    <div id="location2" class="location s2">
                      <div class="pin">
                        <img src="assets/images/nearby/2.svg" alt="" /><span
                          >KFC Resturent</span
                        >
                      </div>
                    </div>
                    <div id="location3" class="location s3">
                      <div class="pin">
                        <img src="assets/images/nearby/3.svg" alt="" /><span
                          >مسجد بیتون نور</span
                        >
                      </div>
                    </div>
                    <div id="location4" class="location s4">
                      <div class="pin">
                        <img src="assets/images/nearby/4.svg" alt="" /><span
                          >پارک مرکزی</span
                        >
                      </div>
                    </div>
                    <div id="location5" class="location s5">
                      <div class="pin">
                        <img src="assets/images/nearby/5.svg" alt="" /><span
                          >بیمارستان مرکزی</span
                        >
                      </div>
                    </div>
                    <div id="location6" class="location s6">
                      <div class="pin">
                        <img src="assets/images/nearby/6.svg" alt="" /><span
                          >بیمارستان پرایم</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="wpo-team-section section-padding">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="wpo-section-title">
                <h2>تیم ما کلید شما<span>به یافتن</span>خانه کامل</h2>
              </div>
            </div>
          </div>
          <div class="wpo-team-wrap owl-carousel">
            <div class="wpo-team-item">
              <div class="wpo-team-img">
                <img src="assets/images/team/1.jpg" alt="" />
              </div>
              <div class="wpo-team-content">
                <p>بروکلین سیمونز</p>
                <span>نماینده املاک</span>
                <h3>+00-569-845-79</h3>
                <span>ایمیل: property@gmail.com</span>
              </div>
            </div>
            <div class="wpo-team-item">
              <div class="wpo-team-img">
                <img src="assets/images/team/2.jpg" alt="" />
              </div>
              <div class="wpo-team-content">
                <p>کن ویلیامسون</p>
                <span>نماینده املاک</span>
                <h3>+00-569-845-79</h3>
                <span>ایمیل: property@gmail.com</span>
              </div>
            </div>
            <div class="wpo-team-item">
              <div class="wpo-team-img">
                <img src="assets/images/team/3.jpg" alt="" />
              </div>
              <div class="wpo-team-content">
                <p>رابرت میلر</p>
                <span>نماینده املاک</span>
                <h3>+00-569-845-79</h3>
                <span>ایمیل: property@gmail.com</span>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="wpo-testimonial-section section-padding">
        <div class="container">
          <div class="wpo-section-title-tp">
            <div class="row align-items-center">
              <div class="col-lg-3">
                <div class="wpo-section-title-img">
                  <img src="assets/images/testimonial/tsml.jpg" alt="" />
                </div>
              </div>
              <div class="col-lg-6 offset-lg-1">
                <div class="wpo-section-title-s2">
                  <h2>لبخندها را کشف کنید<span>پشت سر ما</span>موفقیت</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="wpo-testimonial-wrap owl-carousel">
            <div class="item">
              <div class="testimonial-top-wrap">
                <div class="testimonial-left-item">
                  <div class="image">
                    <img src="assets/images/testimonial/1.jpg" alt="" />
                  </div>
                  <div class="text">
                    <h4>کریستین واتسون</h4>
                    <span>صاحب خانه</span>
                  </div>
                </div>
                <div class="ratting">
                  <ul>
                    <li><i class="ti-star"></i></li>
                    <li><i class="ti-star"></i></li>
                    <li><i class="ti-star"></i></li>
                    <li><i class="ti-star"></i></li>
                    <li><i class="ti-star"></i></li>
                  </ul>
                </div>
              </div>
              <div class="testimonial-text">
                <p>
                  لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                  استفاده از طراحالورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                  از صنعت چاپ و با استفاده از طراحا
                </p>
              </div>
            </div>
            <div class="item">
              <div class="testimonial-top-wrap">
                <div class="testimonial-left-item">
                  <div class="image">
                    <img src="assets/images/testimonial/2.jpg" alt="" />
                  </div>
                  <div class="text">
                    <h4>آرلین مک کوی</h4>
                    <span>صاحب خانه</span>
                  </div>
                </div>
                <div class="ratting">
                  <ul>
                    <li><i class="ti-star"></i></li>
                    <li><i class="ti-star"></i></li>
                    <li><i class="ti-star"></i></li>
                    <li><i class="ti-star"></i></li>
                    <li><i class="ti-star"></i></li>
                  </ul>
                </div>
              </div>
              <div class="testimonial-text">
                <p>
                  لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                  استفاده از طراحالورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                  از صنعت چاپ و با استفاده از طراحا
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="wpo-blog-section section-padding">
        <div class="container-fluid">
          <div class="blog-wrap">
            <div class="row">
              <div class="col-xl-6 col-lg-5">
                <div class="wpo-section-title-s2">
                  <small>وبلاگ و مقاله</small>
                  <h2>ما را بررسی کنید<span>آخرین وبلاگ</span>و مقاله</h2>
                  <a class="theme-btn" href="blogs">پست وبلاگ دیگران</a>
                </div>
              </div>
              <div class="col-xl-6 col-lg-7">
                <div class="blog-right-wrap clearfix">
                  <div class="row">
                    <% blog.forEach(function(item){ %>
                    <div class="col-lg-6 col-md-6 colo-12">
                      <div class="blog-item">
                        <div class="image">
                          <img src="<%= item.thumbnail %>" alt="" />
                        </div>
                        <div class="blog-content">
                          <h2><%= item.title %></h2>
                          <a
                            class="read-more"
                            href="view-blog?id=<%= item._id %>"
                            >ادامه مطلب</a
                          >
                        </div>
                      </div>
                    </div>
                    <% }) %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <%- include ('partials/footer') %>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/modernizr.custom.js"></script>
    <script src="assets/js/jquery-plugin-collection.js"></script>
    <script src="assets/js/payment-cal.js"></script>
    <script src="assets/js/script.js"></script>
  </body>
</html>
